@import '~stylus/index.styl'

.header
  .donate-link,
  .dark-switcher
    position relative
    right -2.25rem
    fill #4b5b6c !important
    z-index 1000
  .donate-link
    +below($mobile-lg)
      position fixed
      bottom 15px
      right 15px
